/* Notification.css */

.notice-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .notification-section {
    padding: 40px 10px;
  }
  
  .heading {
    height: 30px;
    font-size: 24px;
    margin: 20px 10px;
    color: red;
    text-align: center;
    animation: mymove 5s infinite; /* Added animation */
  }
  
  @keyframes mymove {
    50% {
      font-size: 30px;
      color: blue; /* You can change the color at 50% of the animation */
    }
  }
  
  .notification-list {
    display: grid;
    grid-gap: 20px;
  }
  
  .notification-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .notification-card:hover {
    transform: translateY(-10px);
  }
  
  .notification-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .notification-card p {
    margin-bottom: 10px;
    color: #555;
  }
  
  .notification-card .date {
    color: #333;
    font-weight: bold;
  }

  .anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1s linear forwards;
  }
  