.hero-container {
  text-align: center;
  padding: 50px 20px;
  border: 2px solid #007bff;
  border-radius: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}

.hero-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-container p {
  font-size: 1.2em;
  margin-top: 20px;
 
}

.seminar-stats {
   
  display: flex;
  justify-content: space-around;
  margin-top: 40px
}

.seminar-stat {
  padding: 10px;
  width: 100%; /* Fluid width for each stat */
  max-width: 100px; /* Maximum width for each stat */
  margin-bottom: 20px; /* Added margin between stats */
/* Include padding and border in width calculation */
}

.seminar-stat h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.seminar-stat span {
  font-weight: bold;
  font-size: 1.8em;
  color: #007bff;
}

@media screen and (min-width: 700px) and (max-width:1400px) {
 

  .seminar-stat {
    width: calc(50% - 20px) !important;  /* Two stats per row with space between */
    max-width: none;
    margin-right: 20px;
  }
}










@media screen  and (max-width:700px) {
  .seminar-stats {
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
   max-width: none;
  }

  .hero-container h1 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .hero-container h2 {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .hero-container p {
    font-size: 1em;
    margin-top: 20px;
  }
}
